<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wtsapp.ga - Send a WhatsApp message to a person without adding him/her to phone book.</title>
  <link rel="icon" type="image/png" sizes="32x32"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
  <!--[if IE]>
  <link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <meta name="theme-color" content="#4DBA87">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Wtsapp.ga">
  <link rel="apple-touch-icon"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg"
        color="#4DBA87">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage"
        content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var chunk of webpack.chunks) {
  for (var file of chunk.files) {
  if (file.match(/\.(js|css)$/)) { %>
  <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
        as="<%= file.match(/\.css$/)?'style':'script' %>">
  <% }}} %>
  <!-- Google Tag Manager -->
  <script>
    /* eslint-disable */
    (function (w, d, s, l, i) {
      w[l] = w[l] || []
      w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
      })
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''
      j.async = true
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl
      f.parentNode.insertBefore(j, f)
    })(window, document, 'script', 'dataLayer', 'GTM-NCJW44K')
    /* eslint-enable */
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCJW44K"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<noscript>
  Send a WhatsApp message to a person without adding him/her to phone book. Please enable JavaScript for loading this
  website.
</noscript>
<div id="app"></div>
<%= htmlWebpackPlugin.options.serviceWorkerLoader %>
<!-- built files will be auto injected -->
</body>
</html>
